/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18-abr-2022, 11:25:43
    Author     : Alumno
*/

footer {
  background-color: black;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 40px;
  color: white;
}
